<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: #eee;
        }

        .page {
            width: 210mm;
            height: 297mm;
            margin: auto;
            background: white;
            position: relative;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }

        .frame {
            position: absolute;
            box-sizing: border-box;
        }
    </style>
</head>
<body>

<div class="page">
    {{ content | safe }}
</div>

</body>
</html>
