<h1>Calibrare Blocuri</h1>

<form method="post" action="/to_builder">

{% for b in blocks %}
<div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
    <b>{{ b.text }}</b><br><br>

    <select name="{{ b.id }}">
        <option value="ignore">Ignore</option>
        <option value="title_ro">Titlu RO</option>
        <option value="title_en">Titlu EN</option>
        <option value="autori">Autori</option>
        <option value="abstract">Abstract</option>
        <option value="abstract_text">Text Abstract</option>
        <option value="keywords">Keywords</option>
        <option value="keywords_list">Lista Keywords</option>
        <option value="text">Text</option>
    </select>
</div>
{% endfor %}

<button type="submit">➡️ Continuă în editor</button>

</form>
