<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articole Medicale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Articole Medicale</h1>
    <a href="/upload">+ Upload articol nou</a>

    <ul>
        {% for a in articole %}
            <li><a href="/articol/{{ a[1] }}">{{ a[0] }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>